.ToggleEditor__highlight___16C4N {
    outline: #ff8700 solid 2px;
    outline-offset: 2px;
    z-index: 2;
    border-radius: 2px;
}

.ToggleEditor__flex___2iYJQ {
    display: flex;
    gap: 1px;
    background-color: #525252;
}

.ToggleEditor__flex___2iYJQ > * {
        flex: auto;
    }

.ToggleEditor__grid___2c-oB {
    display: grid;
    gap: 1px;
    background-color: #525252;
}

.ToggleEditor__list___2HR4X {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);
}

.ToggleEditor__list___2HR4X button {
        display: flex;
        align-items: center;
        width: -moz-fit-content;
        width: fit-content;
        color: #ffffff;
        background-color: inherit;
        border: none;
        border-radius: 0;
        cursor: pointer;
    }

.ToggleEditor__list___2HR4X button:focus {
            outline: none;
        }

.ToggleEditor__list___2HR4X button:focus .ToggleEditor__radio___2Ij4y {
                outline: #00adee solid 1px;
            }

.ToggleEditor__list___2HR4X button:where(.ToggleEditor__selected___7KwJL,:hover) .ToggleEditor__radio___2Ij4y {
            background-color: #00adee;
        }

.ToggleEditor__list___2HR4X button svg {
            margin-right: 8px;
        }

.ToggleEditor__list___2HR4X .ToggleEditor__radio___2Ij4y {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 12px;
        width: 22px;
        height: 22px;
        border-radius: 9999px;
        border: none;
        background-color: #525252;
        cursor: pointer;
    }

.ToggleEditor__list___2HR4X .ToggleEditor__radio___2Ij4y span {
            width: 6px;
            height: 6px;
            background-color: #fafafa;
            border-radius: 9999px;
        }

.ToggleEditor__color___-gymi {
    display: grid;
    row-gap: 14px;
    -moz-column-gap: 8px;
         column-gap: 8px;
    padding-top: 4px;
}

.ToggleEditor__colorBox___2LQlG {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
}

.ToggleEditor__colorButtonWrapper___3GiQ0 {
    position: relative;
    width: 100%;
    height: 40px;
    max-width: 60px;
}

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__colorButton___28s45 {
        width: 100%;
        height: 100%;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__colorButton___28s45:hover {
            opacity: 0.9;
        }

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__colorButton___28s45:focus {
            outline: #00adee solid 1px;
            outline-offset: 1px;
        }

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__colorButton___28s45.ToggleEditor__selected___7KwJL {
            outline: #00adee solid 2px;
            outline-offset: 2px;
        }

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__emptyButton___1hOku {
        position: absolute;
        top: 0;
        right: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        background-color: #525252;
        border: none;
        border-radius: 50%;
        transform: translate(50%, -50%);
        cursor: pointer;
    }

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__emptyButton___1hOku:hover {
            background-color: #fff;
        }

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__emptyButton___1hOku:hover svg {
                color: #525252;
            }

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__emptyButton___1hOku:focus {
            outline: #00adee solid 1px;
            outline-offset: 1px;
        }

.ToggleEditor__colorButtonWrapper___3GiQ0 .ToggleEditor__emptyButton___1hOku svg {
            color: #fff;
        }

.ToggleEditor__colorTransparent___1iYdv {
    background-size: 14px;
    background-image: url('data:image/svg+xml, <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="100" height="100" fill="%23F5F5F5"/><rect width="50" height="50" fill="%23d4d4d4"/><rect x="50" y="50" width="50" height="50" fill="%23d4d4d4"/></svg>');
}

.ToggleEditor__button___3t2C2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;
}

.ToggleEditor__button___3t2C2 > * + * {
        margin-top: 6px;
    }

.ToggleEditor__button___3t2C2:focus {
        outline: #00adee solid 1px;
        z-index: 1;
        border-radius: 2px;
    }

.ToggleEditor__label___2AZh1 {
    font-size: 0.75rem;
}

.ToggleEditor__textError___1iX7b {
    font-size: 0.8rem;
    color: #ef4444;
}


/*# sourceMappingURL=Plugin.css.map*/