/* Layouts */

.wrapper {
    user-select: none;
}

.flex {
    display: flex;
    gap: 1px;

    & > * {
        flex: auto;
    }
}

.flex-start {
    display: flex;
    flex-wrap: wrap;
    gap: 1px;
    justify-content: flex-start;
}

.color {
    display: grid;
    gap: 14px var(--spacing-Half);
    padding-top: var(--spacing-Quarter);
    grid-template-columns: repeat(var(--columns, 1), minmax(0, 1fr));
}

.grid {
    display: grid;
    gap: 1px;
    grid-template-columns: repeat(var(--columns, 1), minmax(0, 1fr));
}

.list {
    display: grid;
    gap: 5px;
    grid-template-columns: repeat(1, minmax(0, 1fr));

    & .image {
        width: auto;
        height: 1em;
        margin-right: var(--spacing-Half);
    }

    & .highlight {
        outline-offset: 0;
    }
}

/* Image */

.image {
    width: 100%;
    height: auto;
}

.imageSVG {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    fill: currentColor;
}

/* Icon and image wrapper (this prevents that one icon get's bigger than another */

.layered {
    grid-template: "content" 1fr / 1fr;
    display: inline-grid;
    align-content: center;
    justify-items: center;
    width: 100%;
    min-width: var(--spacing-Full);
    max-width: fit-content !important;

    & > * {
        grid-area: content;
    }
}

/* List button */

.listButton {
    display: flex;
    align-items: center;
    color: var(--colors-ContrastBrightest);
    background-color: inherit;
    border: none;
    border-radius: 0;
    cursor: pointer;
    -webkit-font-smoothing: antialiased;
    padding: 5px;
    margin: 0;
    text-align: left;
    font-size: var(--fontSize-Base);
    user-select: none;

    :where(span) {
        max-width: 100%;
    }

    &:focus {
        outline: none;

        & .radio {
            outline: var(--colors-PrimaryBlue) solid 1px;
        }
    }

    &:where(.selected, :hover:not([disabled])) .radio {
        background-color: var(--colors-PrimaryBlue);
    }

    & .flex1 {
        flex: 1;
    }

    & > svg,
    & > img,
    & > .layered {
        margin-right: var(--spacing-Half);
        max-height: 1em;
    }
}

/* Radio components */

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    width: 22px;
    height: 22px;
    min-width: 22px;
    border-radius: 9999px !important;
    border: none;
    background-color: var(--colors-ContrastDark);
    pointer-events: none;

    & span {
        width: 6px;
        height: 6px;
        background-color: var(--colors-ContrastBrightest);
        border-radius: 9999px;
    }
}

/* Color items */

.colorBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: var(--spacing-Quarter);
}

.colorButton {
    cursor: pointer;
    width: 100%;
    height: var(--spacing-GoldenUnit);
    max-width: 60px;
    border: none;
    border-radius: var(--spacing-Quarter);
    outline: var(--colors-ContrastNeutral) solid 1px;
    display: flex;
    padding: 0;
    background: transparent;

    &:where(:hover:not([disabled]), :focus, .selected) {
        outline: var(--colors-PrimaryBlue) solid 2px;
        outline-offset: 2px;
    }

    &:focus {
        outline-offset: 1px;
        outline-width: 1px;
    }
}

.colorTransparent {
    background-size: 14px;
    background-image: url('data:image/svg+xml, <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="100" height="100" fill="%23F5F5F5"/><rect width="50" height="50" fill="%23d4d4d4"/><rect x="50" y="50" width="50" height="50" fill="%23d4d4d4"/></svg>');
}

.colorPreview {
    flex: 1;
    height: 100%;
    display: block;

    &:first-child {
        border-top-left-radius: var(--spacing-Quarter);
        border-bottom-left-radius: var(--spacing-Quarter);
    }
}

.colorPreviewLast {
    border-top-right-radius: var(--spacing-Quarter);
    border-bottom-right-radius: var(--spacing-Quarter);
}

/* General items */

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    height: auto;
    min-width: var(--spacing-GoldenUnit);
    border: 0;
    -webkit-font-smoothing: antialiased;
    width: auto;
    color: var(--colors-ContrastBrightest);
    cursor: pointer;
    background-color: var(--colors-ContrastDark);
    font-size: var(--fontSize-Base);

    & > * + * {
        margin-top: 6px;
    }

    &:hover {
        background-color: var(--colors-PrimaryBlue);
    }

    &:focus {
        outline: 1px solid var(--colors-PrimaryBlue);
        z-index: 1;
        border-radius: 2px;
    }

    & .imageFull:only-child {
        margin: -12px;
    }

    &[disabled] {
        opacity: 0.5;
        cursor: not-allowed;

        &:is(:hover, :hover i, i) {
            color: var(--colors-ContrastBrightest);
        }
    }
}

.buttonCurrent {
    background-color: var(--colors-PrimaryBlue);
}

.label {
    font-size: var(--fontSize-Small);
}

.transition {
    transition:
        transform var(--transition-Slow) ease,
        opacity var(--transition-Default) ease;
}

/* Allow empty */

.allowEmpty,
.allowEmptyRadio {
    display: flex;
    justify-content: center;
    align-items: center;
    transition:
        opacity var(--transition-Default) ease,
        background-color var(--transition-Default) ease;
    pointer-events: none;
    aspect-ratio: 1;
    opacity: 0;

    & svg {
        color: var(--colors-ContrastBrightest);
    }
}

.allowEmpty {
    border-radius: 9999px;
    width: 20px;
    position: absolute;
    z-index: 1;
    right: 0;
    margin: 0 !important;
}

.allowEmptyRadio {
    min-width: 32px;
    max-width: 32px;
    margin: -5px -5px -5px 0 !important;
}

.allowEmpty {
    top: -10px;
    right: -10px;
    background-color: var(--colors-ContrastNeutral);
}

.allowEmptyShow {
    opacity: 1;
}

:where(.grid, .flex, .color) button {
    position: relative;

    &:is(:hover:not([disabled]), :focus) .allowEmpty {
        background-color: var(--colors-ContrastDark);
    }
}

.list button {
    position: relative;

    &:is(:hover:not([disabled]), :focus) .allowEmptyRadio {
        background-color: var(--colors-ContrastDark);
    }
}

/* States */

.highlight {
    outline: var(--colors-Warn) solid 2px;
    outline-offset: 2px;
    z-index: 2;
    border-radius: 2px;
}

:where(.grid, .flex, .color, .list) [disabled],
.disabled {
    cursor: not-allowed !important;
    opacity: 0.65 !important;

    & > * {
        pointer-events: none;
    }
}

.error {
    background-color: var(--colors-Error);
    color: var(--colors-ContrastBrightest);
    margin: 0 calc(var(--spacing-Full) * -1);
    padding: var(--spacing-Half) var(--spacing-Full);
}
