.wrapper {
    & > * + * {
        border-left: 1px solid #525252;
    }
}

.flex {
    display: flex;

    & > * {
        flex: auto;
    }
}

.grid {
    display: grid;
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 12px;
    padding-bottom: 12px;
    height: auto;

    & > * + * {
        margin-top: 6px;
    }
}

.label {
    font-size: 0.75rem;
}

.textError {
    font-size: 0.8rem;
    color: #ef4444;
}
