.highlight {
    outline: #ff8700 solid 2px;
    outline-offset: 2px;
    z-index: 2;
    border-radius: 2px;
}

.image {
    width: 100%;
    height: auto;
}

.imageSVG {
    width: 100%;
    display: flex;
    align-items: stretch;
    justify-content: stretch;
}

.radio {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 12px;
    width: 22px;
    height: 22px;
    border-radius: 9999px;
    border: none;
    background-color: #525252;
    cursor: pointer;

    & span {
        width: 6px;
        height: 6px;
        background-color: #fafafa;
        border-radius: 9999px;
    }
}


.flex {
    display: flex;
    gap: 1px;
    background-color: #525252;

    & > * {
        flex: auto;
    }
}

.grid {
    display: grid;
    gap: 1px;
    background-color: #525252;
}

.list {
    display: grid;
    gap: 12px;
    grid-template-columns: repeat(1, 1fr);

    & .image {
        width: auto;
        height: 1em;
        margin-right: 8px;
    }

    & button {
        display: flex;
        align-items: center;
        width: fit-content;
        color: #ffffff;
        background-color: inherit;
        border: none;
        border-radius: 0;
        cursor: pointer;

        &:focus {
            outline: none;

            & .radio {
                outline: #00adee solid 1px;
            }
        }

        &:where(.selected,:hover) .radio {
            background-color: #00adee;
        }

        & svg {
            margin-right: 8px;
        }
    }
}

.color {
    display: grid;
    row-gap: 14px;
    column-gap: 8px;
    padding-top: 4px;
}

.colorBox {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 4px;
}

.colorButton {
    width: 100%;
    height: 40px;
    max-width: 60px;
    border: none;
    border-radius: 4px;
    cursor: pointer;

    &:hover {
        opacity: 0.9;
    }

    &:focus {
        outline: #00adee solid 1px;
        outline-offset: 1px;
    }

    &.selected {
        outline: #00adee solid 2px;
        outline-offset: 2px;
    }
}

.colorTransparent {
    background-size: 14px;
    background-image: url('data:image/svg+xml, <svg width="100" height="100" viewBox="0 0 100 100" fill="none" xmlns="http://www.w3.org/2000/svg"><rect width="100" height="100" fill="%23F5F5F5"/><rect width="50" height="50" fill="%23d4d4d4"/><rect x="50" y="50" width="50" height="50" fill="%23d4d4d4"/></svg>');
}

.colorNone {
    background-color: #3f3f3f;

    & svg {
        display: block;
        margin: 0 auto;
        width: 18px;
        height: 18px;
        color: #d4d4d4;
    }
}

.button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px;
    height: auto;

    & > * + * {
        margin-top: 6px;
    }

    &:focus {
        outline: #00adee solid 1px;
        z-index: 1;
        border-radius: 2px;
    }

    & .imageFull:only-child {
        margin: -12px;
    }
}

.label {
    font-size: 0.75rem;
}

.textError {
    font-size: 0.8rem;
    color: #ef4444;
}
